<div class="jumbotron mt-3">
    <h1 class="display-3">InventarioAPP</h1>
    <p class="lead">
      Bienvenido al sistema de inventario.  Presione sobre Acceder para realizar la validación de usuario y poder tener acceso total a las funciones del sistema.
      Si ya se encuentra logueado debe visualizar un menú sobre la barra principal con las funciones disponibles. 
    </p>
    <ul>
      <li>
        <p> <strong>Tablas: </strong> Utilice esta opción para acceder a las diferentes tablas del sistema y completelas con los datos que requiera</p>
      </li>
      <li>
        <p><strong>Informes:</strong> Esta opción proporciona los datos ingresados para ser consultados por pantalla o impresos</p>
      </li>
      <li>
        <p><strong>Movimientos:</strong> Desde aquí puede acceder a ingresar y retirar productos del inventario, pudiendo imprimir un ticket 
        <strong> <br> ESTE SISTEMA NO SE ENCUENTRA PREPARADO PARA REALIZAR FACTURACION LEGAL POR EL MOMENTO</strong></p>
      </li>
      <li>
        <p><strong>Servicios:</strong> Este módulo corresponde a servicio tecnico.</p>
      </li>
    </ul>
  </div>