<h3>Ingreso de Mercadería</h3>
<mat-card style="align-items: center !important;">
  <form class="example-form" style="margin-top: 25px;">
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Referencia">
    </mat-form-field>
    <mat-form-field style="width:350px !important">
      <mat-select placeholder="Proveedor">
          <mat-option *ngFor="let item of dataProveedores" [value]="item.nombre">
              {{item.nombre}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width:350px !important">
      <input matInput placeholder="Observaciones">
    </mat-form-field>
    <p style="text-align: center;">Detalle de Ingresos:</p>
    <mat-divider></mat-divider>
    <button mat-raised-button color="primary" (click)="openDialog()" style="margin-top: 20px !important;"><i class="material-icons">add_shopping_cart</i> Agregar Producto</button>
  </form>
</mat-card>

  