<!-- Form para alta de cliente inline arriba de la lista -->
<div>
    <h3>Tabla Clientes</h3>
</div>
<div>
  <mat-form-field>
    <input matInput placeholder="Código" [(ngModel)]="clientesDetalle.codigo">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nombre" [(ngModel)]="clientesDetalle.nombre">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Dirección" [(ngModel)]="clientesDetalle.direccion">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Teléfono" [(ngModel)]="clientesDetalle.telefono">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="C.U.I.T." [(ngModel)]="clientesDetalle.cuit">
  </mat-form-field>
  <button mat-raised-button (click)="addCliente()" color="primary" style="margin-left: 10px;">Agregar</button>
</div>
<!-- Tabla de despliegue de datos con posibilidad de editar -->
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
      <!-- Código de cliente -->
      <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
      </ng-container>
      <!-- Nombre o razon social -->
      <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element">
              <mat-form-field floatLabel="never">
                  <input matInput placeholder="Nombre" [value]="element.nombre" [(ngModel)]="element.nombre" (change)="cambioaEditar()" >
              </mat-form-field>
          </mat-cell>
      </ng-container>
      <!-- Dirección postal -->
      <ng-container matColumnDef="direccion">
          <mat-header-cell *matHeaderCellDef> Direccion </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
              <mat-form-field floatLabel="never">
                  <input matInput placeholder="Dirección" [value]="element.direccion" [(ngModel)]="element.direccion" (change)="cambioaEditar()" >
              </mat-form-field>
          </mat-cell>
      </ng-container>
      <!-- Teléfono -->
      <ng-container matColumnDef="telefono">
          <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
              <mat-form-field floatLabel="never">
                  <input matInput placeholder="Teléfono" [value]="element.telefono" [(ngModel)]="element.telefono" (change)="cambioaEditar()" >
              </mat-form-field>
          </mat-cell>
      </ng-container>
      <!-- CUIT -->
      <ng-container matColumnDef="cuit">
          <mat-header-cell *matHeaderCellDef> CUIT </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
              <mat-form-field floatLabel="never">
                  <input matInput placeholder="CUIT" [value]="element.cuit" [(ngModel)]="element.cuit" (change)="cambioaEditar()" >
              </mat-form-field>
          </mat-cell>
      </ng-container>
      <!-- Botones para eliminar y modificar -->
      <ng-container matColumnDef="buttons">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let group" (click)="$event.stopPropagation()">
              <button mat-raised-button color="warn" (click)="eliminarCliente(group)"><i class="far fa-trash-alt"></i> Eliminar</button>
              <button mat-raised-button (click)="editarCliente(group)" *ngIf="esEdicion"><i class="fas fa-pen-alt"></i> Modificar</button>
          </mat-cell>
      </ng-container>
      <!-- Arreglo displayedColums contiene las columnas que se ven en la lista -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
  </mat-table>
</div>