#producto {
    width: 350px !important;
}
#cantidad {
    width: 100px !important;
    text-align: right !important;
}
#precio {
    width: 100px !important;
    text-align: right !important;
}
#importe {
    width: 100px !important;
    text-align: right !important;
}