<mat-card>
  <mat-form-field class="example-full-width">
    <input matInput [readonly]="true" placeholder="Referencia" value="{{movimientoDetalleReferencia}}" name="referencia" [(ngModel)]="itemdetalle.referencia">
  </mat-form-field><mat-form-field class="example-full-width">
    <input matInput [readonly]="true" placeholder="Producto" value="{{movimientoDetalleProducto}}" name="producto" [(ngModel)]="itemdetalle.producto">
  </mat-form-field><mat-form-field class="example-full-width">
    <input matInput [readonly]="true" placeholder="Cantidad" value="{{movimientoDetalleCantidadEntrada}}" name="cantidadEntrada" [(ngModel)]="itemdetalle.cantidadEntrada">
  </mat-form-field><mat-form-field class="example-full-width">
    <input matInput [readonly]="true" placeholder="Precio" value="{{movimientoDetallePrecioEntrada}}" name="precioEntrada" [(ngModel)]="itemdetalle.precioEntrada">
  </mat-form-field>
  <div class="ocultar">
    <input type="hidden" value="{{movimientoFecha}}" name="fecha" [(ngModel)]="item.fecha">
    <input type="hidden" value="{{movimientoProveedor}}" name="proveedor" [(ngModel)]="item.proveedor">
    <input type="hidden" value="{{movimientoReferencia}}" name="referencia" [(ngModel)]="item.referencia">
    <input type="hidden" value="{{movimientoObservaciones}}" name="observaciones" [(ngModel)]="item.observaciones">
  </div>
  <button mat-raised-button color="primary" (click)="agregarProductoLinea(referencia, 
                                                                          producto, 
                                                                          cantidadEntrada, 
                                                                          precioEntrada,
                                                                          fecha,
                                                                          proveedor,
                                                                          observaciones

                                                                          )">Confirmar</button>
</mat-card>
