<div>
    <h3>Listado de Precios</h3>
  </div>
  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <mat-label><i class="fab fa-searchengin"> Buscar</i></mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
      
    </div>
    <!-- Tabla de clientes -->
    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Código   </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="rubro">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Rubro </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.rubro}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="precioCompra">
          <mat-header-cell *matHeaderCellDef> Precio Compra </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.precioCompra}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="precioVenta">
          <mat-header-cell *matHeaderCellDef> Precio Venta </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.precioVenta}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cantidadMinima">
          <mat-header-cell *matHeaderCellDef> Minimo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cantidadMinima}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cantidadActual">
          <mat-header-cell *matHeaderCellDef> Stock Actual </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cantidadActual}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="observaciones">
          <mat-header-cell *matHeaderCellDef> Notas </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.observaciones}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- Paginador -->
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">

    </mat-paginator>
    <button mat-raised-button color="primary" (click)="imprimirPDF()">Guardar PDF</button>
  </div>