<!-- Form para alta de proveedor inline arriba de la lista -->
<div>
    <mat-form-field>
      <input matInput placeholder="Código" [(ngModel)]="proveedoresDetalle.codigo">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nombre" [(ngModel)]="proveedoresDetalle.nombre">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Dirección" [(ngModel)]="proveedoresDetalle.direccion">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Teléfono" [(ngModel)]="proveedoresDetalle.telefono">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="C.U.I.T." [(ngModel)]="proveedoresDetalle.cuit">
    </mat-form-field>
    <button mat-raised-button (click)="addProveedor()" color="primary">Agregar</button>
</div>
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
        <!-- Código de proveedor -->
        <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
        </ng-container>
        <!-- Nombre o razon social -->
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
        </ng-container>
        <!-- Dirección postal -->
        <ng-container matColumnDef="direccion">
            <mat-header-cell *matHeaderCellDef> Direccion </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.direccion}} </mat-cell>
        </ng-container>
        <!-- Teléfono -->
        <ng-container matColumnDef="telefono">
            <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.telefono}} </mat-cell>
        </ng-container>
        <!-- CUIT -->
        <ng-container matColumnDef="cuit">
            <mat-header-cell *matHeaderCellDef> CUIT </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cuit}} </mat-cell>
        </ng-container>
        <!-- Botones para eliminar y modificar -->
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let group" (click)="$event.stopPropagation()">
                <button mat-button (click)="eliminarProveedor(group)">
                    Eliminar
                </button>
            </mat-cell>
        </ng-container>
        <!-- Arreglo displayedColums contiene las columnas que se ven en la lista -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
    </mat-table>
</div>