<div >
    <main>
        <mat-card style="background-color: lightblue;">
            <span style="font-family: Arial; font-size: 20px;">
                InventarioAPP
            </span>
            <button mat-button [matMenuTriggerFor]="menu">Configurar</button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item routerLink="/tabla-proveedores"app-routing.module.ts>Tabla Proveedores</button>
                  <button mat-menu-item>Tabla Clientes</button>
                  <button mat-menu-item>Tabla Productos</button>
                  <button mat-menu-item>Tabla Rubros</button>
              </mat-menu>
        </mat-card>
    </main>
</div>
<router-outlet></router-outlet>
