<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <a class="navbar-brand"><span class="text-danger"> Inventario APP</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <!-- Menu de tablas solo aparece si estaLogueado=true -->
        <li class="nav-item dropdown" *ngIf="estaLogueado">
            <button class="nav-link dropdown-toggle btn btn-outline-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" >Tablas</button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" routerLink="/tabla-rubros">Tabla Rubros</a>
              <a class="dropdown-item" routerLink="/tabla-clientes">Tabla Clientes</a>
              <a class="dropdown-item" routerLink="/tabla-proveedores">Tabla Proveedores</a>
              <a class="dropdown-item" routerLink="/tabla-productos">Tabla Productos</a>
            </div>
          </li>
          <!-- Menú de informes o consultas en pantalla -->
          <li class="nav-item dropdown" *ngIf="estaLogueado">
            <button class="nav-link dropdown-toggle btn btn-outline-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Informes</button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" routerLink="/listado-precios">Lista de Precios</a>
              <a class="dropdown-item" routerLink="/listado-productos">Lista de Productos</a>
              <a class="dropdown-item" routerLink="/listado-clientes">Lista de Clientes</a>
              <a class="dropdown-item" routerLink="/listado-proveedores">Lista de Proveedores</a>
              <a class="dropdown-item" routerLink="/listado-rubros">Lista de Rubros</a>
              <a class="dropdown-item" routerLink="/comprobantes">Consulta Comprobantes</a>
            </div>
          </li>
          <!-- Menu de Movimientos de stock . Ajustes de Inventario -->
          <li class="nav-item dropdown" *ngIf="estaLogueado">
            <button class="nav-link dropdown-toggle btn btn-outline-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Movimientos</button>
            <!-- <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Movimientos</a> -->
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" routerLink="/ingresos">Ingreso de Productos</a>
              <a class="dropdown-item" routerLink="/salidas">Salida de Productos</a>
            </div>
          </li>
          <!-- Dashboard -->
          <li class="nav-item dropdown" *ngIf="estaLogueado">
            <button class="nav-link dropdown-toggle btn btn-outline-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Panel de Control</button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" routerLink="/dashboard">Panel 1</a>

            </div>
          </li>
          <!-- Menu de Servicio Tecnico -->
          <li class="nav-item dropdown" *ngIf="estaLogueado">
            <button class="nav-link dropdown-toggle btn btn-outline-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Servicios</button>
            <!-- <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Servicio Tecnico</a> -->
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" routerLink="/serviciotecnicoalta">Alta de Servicio</a>
              <a class="dropdown-item" routerLink="/serviciotecnicoconsulta">Consulta Ordenes de Servicios</a>
              <a class="dropdown-item" routerLink="/serviciotecnicomodifica">Modificación Ordenes de Servicio</a>
              <a class="dropdown-item" routerLink="/serviciotecnicocierra">Cierre Ordenes de Servicios</a>
            </div>
          </li>
          
      </ul>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!estaLogueado">
          <a class="nav-link btn btn-outline-primary" style="border-radius: 5px !important;" routerLink="/login">Acceder<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="!estaLogueado">
          <a class="nav-link" href="#" routerLink="/registro">Registrarse</a>
        </li>
        <li class="nav-item btn btn-outline-primary" style="border-radius: 5px !important;" *ngIf="estaLogueado">
          <a class="nav-link" (click)="logout()">Salir</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado">
          <a class="nav-link">{{nombreUsuario}}</a>
        </li>
        <li class="nav-item">
          <img src="{{fotoUsuario}}" title="{{emailUsuario}}" class="rounded-circle">
        </li>
      </ul>
    </div>
  </nav>