<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"><i class="fa fa-industry"></i> Inventario <span class="text-danger">APP</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/inicio">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <!-- Menu de tablas solo aparece si estaLogueado=true -->
        <li class="nav-item dropdown show" *ngIf="estaLogueado">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Tablas</a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" routerLink="/tabla-rubros">Tabla Rubros</a>
              <a class="dropdown-item" routerLink="/tabla-clientes">Tabla Clientes</a>
              <a class="dropdown-item" routerLink="/tabla-proveedores">Tabla Proveedores</a>
              <a class="dropdown-item" routerLink="/tabla-productos">Tabla Productos</a>
            </div>
          </li>
          <!-- Menú de informes o consultas en pantalla -->
          <li class="nav-item dropdown show" *ngIf="estaLogueado">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Informes</a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" routerLink="/listado-precios">Lista de Precios</a>
              <a class="dropdown-item" routerLink="/listado-productos">Lista de Productos</a>
              <a class="dropdown-item" routerLink="/listado-clientes">Lista de Clientes</a>
              <a class="dropdown-item" routerLink="/listado-proveedores">Lista de Proveedores</a>
              <a class="dropdown-item" routerLink="/listado-rubros">Lista de Rubros</a>
              <a class="dropdown-item" routerLink="/comprobantes">Consulta Comprobantes</a>
            </div>
          </li>
          <!-- Menu de Movimientos de stock . Ajustes de Inventario -->
          <li class="nav-item dropdown show" *ngIf="estaLogueado">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Movimientos</a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" routerLink="/ingresos">Ingreso de Productos</a>
              <a class="dropdown-item" routerLink="/salidas">Salida de Productos</a>
            </div>
          </li>
          <!-- Menu de Servicio Tecnico -->
          <li class="nav-item dropdown show" *ngIf="estaLogueado">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Servicio Tecnico</a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" routerLink="/serviciotecnicoalta">Alta de Servicio</a>
              <a class="dropdown-item" routerLink="/serviciotecnicoconsulta">Consulta de Servicios</a>
            </div>
          </li>
      </ul>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!estaLogueado">
          <a class="nav-link" routerLink="/login">Acceder<span class="sr-only">(current)</span></a>
        </li>
<!--         <li class="nav-item" *ngIf="!estaLogueado">
          <a class="nav-link" href="#" routerLink="/registro">Registrarse</a>
        </li>
 -->        <li class="nav-item" *ngIf="estaLogueado">
          <a class="nav-link" (click)="logout()">Salir</a>
        </li>
        <li class="nav-item" *ngIf="estaLogueado">
          <a class="nav-link">{{nombreUsuario}}</a>
        </li>
        <li class="nav-item">
          <img src="{{fotoUsuario}}" title="{{emailUsuario}}" class="rounded-circle">
        </li>
      </ul>
    </div>
  </nav>